





.tr:hover {
    background-color: #f5f5f5
}
/*th ,td {*/
    /*border-bottom: 1px solid #ddd;*/
/*}*/
.buttons-mainpage{
    float: right;
}
.navbar-cell-size{

    height: 30px;
    padding: 10px 15px;
}
.table-head-cell{
    height: 80px;
}
.table-body-cell{
    height: 80px;
}
#paginationNav{

}
#telephone-table-buttons{

    padding-left: 37%;
    padding-right: 0%;

}
.tbl-tel-buttons{

    margin: 0%;
}
#show-btn-form{

    margin: 0em;
}
#edit-btn-form{
    margin: 0em;
}
.container
{
    /*background-color: #f2f2f2*/
}
.person-info {

    float: left;
}
.prsn-tel{
    float: right;
}
.prsn-attachments{
    float: right;
}
.prsn-data{

    margin-bottom: 10px ;
}
.Search-fields {

    margin: 0 auto ;
}
#ava {
    display: none;
}
#submit-btn-avatar {

    margin-left: 15px;
    margin-right: 15px;
}
img#ava-img{

    height: 225px;
    width: 225px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #9d9d9d;

}
.modal-content#teleph-modal{

    background-color: #d9edf7;
    margin: 15%auto;
    padding: 20px;
    border: 1px solid #66afe9;
    width: 20%;
    height: 40%;
}

.modal-content#attachm-modal{

    background-color: #d9edf7;
    margin: 15%auto;
    padding: 20px;
    border: 1px solid #66afe9;
    width: 28%;
    height: 25%;
}

.close {

    color: #1b6d85;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-data{
    margin: 10px;
    font-size: 18px ;
}
.modal-data#attachment-comment-modal{
    margin: 15px;
    padding-left: 0;
    margin-left: 0;
}
.modal-data#attachment-filename-modal{
    margin: 15px;
    padding-left: 0;
    margin-left: 0;
}
.modal-data#attachment-table-input{
    margin: 15px;
    padding-left: 0;
    margin-left: 0;
}
.modal-data#tel-type{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 224px;
}
#saveTelBtnModal{
    width: 224px;
    margin-left: 10px;
}
.tel-tabl-input-attr{
    border: none;
    text-align: center;
}
#telephone-tbl{
    margin-bottom: 0;
}
.attach-tabl-input-attr{
    border: none;
    text-align: center;
}
#attachment-table{
    margin-bottom: 0;
}
#attachment-table-buttons{

    padding-left: 37%;
    padding-right: 0%;
}

#emailsToSend{
    border: none;
    text-align: center;
}